.all-countries {
  background: #164e6363;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 100px;
  color: #fff;
  @media screen and(max-width:'650px') {
    margin: 0;
  }
  @media screen and(max-width:'495px') {
    font-size: 0.7rem !important;
    .country-info {
      img {
        width: 70px !important;
      }
    }
  }
  .country-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: #fff;
      padding-top: 10px;
      font-size: 0.8rem;
      width: 100px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    img {
      width: 100px;
    }
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
}
