// CSS resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}
// styles
@import "navbar";
@import "countries";
@import "allCountries";
@import "details";
@import "loading";
@import "fonts";